body {
    background: rgb(69, 120, 187);
}

.container {
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 6em;
}

h3 {
    line-height: 100px;
    text-align: center;
    margin-bottom: 40px;
}

table {
    margin: auto;
}

.form-control, .btn {
    width: 300px;
}